<table align="center" >
  <tr><th style="text-align:center;" ><h1>管理</h1></th></tr>
  <tr>
    <td><%= link_to "用户管理", users_index_path %></td>
    <td><%= link_to "图书管理", books_index_path %></td>
    <td><%= link_to "图书类别管理",book_types_index_path %></td>
  </tr>
  <tr><%= @mytime %></tr>
</table>
